@media screen and (min-width: 1891px) and (max-width: 1920px) {
    .logo {
    left: 840px;
}
}

@media screen and (min-width: 1841px) and (max-width: 1890px) {
    .logo {
    left: 815px;
}
}

@media screen and (min-width: 1791px) and (max-width: 1840px) {
    .logo {
    left: 790px;
}
}

@media screen and (min-width: 1741px) and (max-width: 1790px) {
    .logo {
    left: 765px;
}
}

@media screen and (min-width: 1691px) and (max-width: 1740px) {
    .logo {
    left: 740px;
}
}

@media screen and (min-width: 1641px) and (max-width: 1690px) {
    .logo {
    left: 713px;
}
}

@media screen and (min-width: 1591px) and (max-width: 1640px) {
    .logo {
    left: 689px;
}
}

@media screen and (min-width: 1541px) and (max-width: 1590px) {
    .logo {
    left: 663px;
}
}

@media screen and (min-width: 1491px) and (max-width: 1540px) {
    .logo {
    left: 636px;
}
}

@media screen and (min-width: 1441px) and (max-width: 1490px) {
    .logo {
    left: 615px;
}
}

@media screen and (min-width: 1401px) and (max-width: 1440px) {
    .logo {
    left: 589px;
}
}

@media screen and (min-width: 1351px) and (max-width: 1400px) {
    .logo {
    left: 568px;
}
}


@media screen and (min-width: 1301px) and (max-width: 1350px) {
    .logo {
    left: 540px;
}
}

@media screen and (min-width: 1271px) and (max-width: 1300px) {
    .logo {
    left: 520px;
}
}

@media screen and (min-width: 1251px) and (max-width: 1270px) {
    .logo {
    left: 500px;
}
}

@media screen and (min-width: 1230px) and (max-width: 1250px) {
    .logo {
    left: 485px;
}
}


@media screen and (min-width: 1171px) and (max-width: 1229px) {
    .logo {
    left: 468px;
}
}

@media screen and (min-width: 1131px) and (max-width: 1170px) {
    .logo {
    left: 440px;
}
}

@media screen and (min-width: 1091px) and (max-width: 1130px) {
    .logo {
    left: 427px;
}
}

@media screen and (min-width: 1051px) and (max-width: 1090px) {
    .logo {
    left: 402px;
}
}

@media screen and (min-width: 1024px) and (max-width: 1050px) {
    .logo {
    left: 379px;
}
}

@media screen and (min-width: 971px) and (max-width: 1023px) {
    .logo {
    left: 373px;
}
}

@media screen and (min-width: 931px) and (max-width: 970px) {
    .logo {
    left: 353px;
}
}

@media screen and (min-width: 891px) and (max-width: 930px) {
    .logo {
    left: 332px;
}
}

@media screen and (min-width: 841px) and (max-width: 890px) {
    .logo {
    left: 312px;
}
}

@media screen and (min-width: 801px) and (max-width: 840px) {
    .logo {
    left: 289px;
}
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .logo {
    left: 265px;
}
}

@media screen and (min-width: 721px) and (max-width: 767px) {
    .logo {
    left: 306px;
}
}

@media screen and (min-width: 671px) and (max-width: 720px) {
    .logo {
    left: 282px;
}
}

@media screen and (min-width: 631px) and (max-width: 670px) {
    .logo {
    left: 254px;
}
}

@media screen and (min-width: 591px) and (max-width: 630px) {
    .logo {
    left: 233px;
}
}

@media screen and (min-width: 551px) and (max-width: 590px) {
    .logo {
    left: 213px;
}
}

@media screen and (min-width: 511px) and (max-width: 550px) {
    .logo {
    left: 192px;
}
}

@media screen and (min-width: 471px) and (max-width: 510px) {
    .logo {
    left: 179px;
}
}

@media screen and (min-width: 425px) and (max-width: 470px) {
    .logo {
    left: 149px;
}
}


@media screen and (min-width: 1024px) and (max-width: 1130px){
.main__form {
        padding-top: 192px;
    }

    .form__main {
        padding-left: 20px;
    }

    .form__main h1 {
        font-size: 26px;
    }

    .form__main h3 {
        font-size: 16px;
    }

    .form {
        grid-template-columns: 350px;
    }

    .input {
        width: 385px;
    }

    .input__click {
        width: 10px;
        height: 10px;
    }

    .form span {
        font-size: 12px;
    }

    .link {
        padding-left: 70px;
        max-width: 250px;
    }

    .button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    .link a {
        font-size: 12px;
    }

    .main__image img {
        width: 100%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main__form {
        padding-top: 192px;
    }

    .form__main {
        padding-left: 20px;
    }

    .form__main h1 {
        font-size: 18px;
    }

    .form__main h3 {
        font-size: 13px;
    }

    .form {
        grid-template-columns: 270px;
    }

    .input {
        width: 310px;
    }

    .text {
        font-size: 13px;
    }

    .input__click {
        width: 8px;
        height: 8px;
    }

    .form span {
        font-size: 10px;
    }

    .link {
        padding-left: 70px;
        max-width: 250px;
    }

    .button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    .link a {
        font-size: 12px;
    }

    .main__image img {
        width: 300px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .logo img {
        max-width: 150px;
    }

    .main__form {
        padding-top: 70px;
    }

    .form__main {
        padding-left: 20px;
        max-width: 115px;
    }

    .form__main h1 {
        font-size: 10px;
    }

    .form__main h3 {
        font-size: 8px;
        line-height: 13px;
        width: 170px;
        padding-bottom: 8px;
    }

    .form {
        grid-template-columns: 185px;
        grid-template-rows: 35px 35px;
        gap: 1px;
    }

    .input {
        width: 180px;
        height: 16px;
        font-size: 10px;
    }

    .text {
        font-size: 8px;
    }

    .input__click {
        width: 6px;
        height: 6px;
    }

    .form span {
        font-size: 6px;
    }

    .link {
        padding-left: 0;
        max-width: 250px;
        padding-top: 12px;
    }

    .button {
        width: 80px;
        height: 20px;
        font-size: 8px;
    }

    .link a {
        font-size: 10px;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    .image__content {
        padding-top: 70px;
    }

    .main__image img {
        width: 220px;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .logo {
        left: 150px;
    }

    .logo img {
        max-width: 100px;
    }

    .main__form {
        padding-top: 70px;
    }

    .form__main {
        padding-left: 20px;
        max-width: 85px;
    }

    .form__main h1 {
        font-size: 10px;
    }

    .form__main h3 {
        font-size: 8px;
        line-height: 13px;
        width: 170px;
        padding-bottom: 8px;
    }

    .form {
        grid-template-columns: 185px;
        grid-template-rows: 35px 35px;
        gap: 1px;
    }

    .input {
        width: 150px;
        height: 16px;
        font-size: 10px;
    }

    .text {
        font-size: 8px;
    }

    .input__click {
        width: 6px;
        height: 6px;
    }

    .form span {
        font-size: 6px;
    }

    .link {
        padding-left: 0;
        max-width: 150px;
        padding-top: 12px;
    }

    .button {
        width: 80px;
        height: 20px;
        font-size: 8px;
    }

    .link a {
        font-size: 8px;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    .image__content {
        padding-top: 70px;
        display: block;
    }

    .main__image {
        display: block;
    }

    .main__image img {
        width: 150px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .logo {
        left: 135px;
    }

    .logo img {
        max-width: 100px;
    }

    .main__form {
        padding-top: 70px;
    }

    .form__main {
        padding-left: 20px;
        max-width: 85px;
    }

    .form__main h1 {
        font-size: 10px;
    }

    .form__main h3 {
        font-size: 8px;
        line-height: 13px;
        width: 170px;
        padding-bottom: 8px;
    }

    .form {
        grid-template-columns: 185px;
        grid-template-rows: 35px 35px;
        gap: 1px;
    }

    .input {
        width: 150px;
        height: 16px;
        font-size: 10px;
    }

    .text {
        font-size: 8px;
    }

    .input__click {
        width: 6px;
        height: 6px;
    }

    .form span {
        font-size: 6px;
    }

    .link {
        padding-left: 0;
        max-width: 150px;
        padding-top: 12px;
    }

    .button {
        width: 80px;
        height: 20px;
        font-size: 8px;
    }

    .link a {
        font-size: 8px;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    .image__content {
        padding-top: 70px;
        display: block;
    }

    .main__image {
        display: block;
    }

    .main__image img {
        width: 150px;
    }
}